.App {
  display: flex;
  min-height: 100vh;
}

.App .wrap {
  display: flex;
  flex-basis:  1600px;
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  gap: 40px;
}

.Options {
  flex-basis: 150px;
  padding: 30px 20px;
  border-right: 1px solid #dedede;
}

.Options label {
  display: block;
}

.Options input {
  display: block;
  width:  100%;
}

.Options input + label {
  margin-top: 30px;
}

.Options label + input {
  margin-top: 5px;
}

.OutlineIcons {

}

.FilledIcons {

}

h2 {
  margin: 0;
  width: 100%;
  text-align: left;
}

h3 {
  margin: 0 0 20px 0;
  width: 100%;
  text-align: left;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  border-width: 0;
  background-color: #dedede;
}

.OutlineIcons,
.FilledIcons {
  text-align: left;
  flex-grow: 1;
  flex-basis: 30%;
}