.App {
  display: flex;
  min-height: 100vh;
}

.App .wrap {
  flex-basis:  100px;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 20px;
}

.Options {
  flex-basis: 150px;
  padding: 30px 20px;
  border-right: 1px solid #dedede;
}

.Options label {
  display: block;
}

.Options input {
  display: block;
  width:  100%;
}

.Options input + label {
  margin-top: 30px;
}

.Options label + input {
  margin-top: 5px;
}

.OutlineIcons {

}

.FilledIcons {
  margin-top: 20px;
}